@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

#title {
  color: purple;
  margin: 10px;
  font-size: 4em;
  font-family: 'Just Another Hand', cursive;
  display: flex;
  justify-content: center;
}

#main-content {
  display: flex;
  justify-content: center;
}

#side-bar {
  padding: 10px;
  border: 2px solid black;
}

.side-btns {
  color: black;
  font-size: 1.5em;
  margin: 10px;
  border-style: none;
  width: 100px;
  display: block;
}
.side-btns:hover {
  background-color: blue;
  color: white;
}

#title-sideBar {
  background: none;
}
#title-sideBar:focus {
  outline:0;
}

.title-elements {
  color: black;
  font-size: 2em;
  font-family: 'Just Another Hand', cursive;
  margin: 10px;
  border-style: none;
  background: none;
  width: 100px;
  display: block;
}
