@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

*:focus {
  outline:0;
}
/*Title of Page*/
#title {
  color: purple;
  margin: 10px;
  font-size: 4em;
  font-family: 'Just Another Hand', cursive;
  display: flex;
  justify-content: center;
}
/*Horizontal Center of Main Content*/
#main-content {
  display: flex;
  justify-content: center;
}


/*Add border to elements and set size of Image Holder*/

#image-holder {
  border: 2px solid black;
  width: 700px;
  height: 500px;
}

#map {
  width: 700px;
  height: 500px;
}

#streetView {
  width: 700px;
  height: 500px;
}

#side-bar {
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  display: table;
}

/*Distance counter formatting*/
#data-stream {
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Just Another Hand';
  border: 1px solid purple;
}

/*Side buttons formatting*/

.side-btns {
  color: black;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none;
  width: 100px;
  display: block;
  background-color: grey;
}
.side-btns:hover {
  color: white;
}

/*Make title look like a title and not a button*/
/*#sideBarTitle {
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none;
  width: 100px;
  display: block;
  background: none;
  font-size: 2em;
  font-family: 'Just Another Hand', cursive;
}*/

.title-elements {
  color: black;
  font-size: 2em;
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none;
  width: 100px;
  display: block;
  background: none;
}

#data-speed {
  display: flex;
  justify-content: center;
}

#speed-input {
  width: 20px;
  height: 10px;
  margin-left: 5px;
}

#speed-btn {
  color: black;
  background-color: gray;
  border-style: none;
  margin-left: 5px;
}

#speed-btn:hover {
  color: white;
}

/*Play button play or stop*/
.stopped {
  background-color: #2B712B;
  color: white;
}

.running {
  background-color: #921616;
  color: white;
}

/*Return button on or off*/
.return {
  background-color: blueviolet;
  color: white;
}

.noreturn{
  background-color: gray;
}

/*Direction Box*/
#directionTitle {
  padding: 5px;
  font-size: 2em;
  text-align: center;
  font-family: 'Just Another Hand';
}

.nodirections{
  display: none;
}

.yesdirections{
  display: inherit;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
}


/*Switch between google map and google street view*/
.google-not-active {
  display: none;
}

/* Control buttons for street view navigation */
#controls {
  display: flex;
  flex-direction: row;
}

.ctrlBtns {
  width: 40px;
}