@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

*:focus {
  outline:0;
}

#title {
  color: purple;
  margin: 10px;
  font-size: 4em;
  font-family: 'Just Another Hand', cursive;
  display: flex;
  justify-content: center;
}

#main-content {
  display: flex;
  justify-content: center;
}

#map {
  border: 2px solid black;
}

#side-bar {
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
}

#data-stream {
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Just Another Hand';
  border: 1px solid purple;
}

.side-btns {
  color: black;
  background-color: gray;
  font-size: 1.5em;
  margin: 10px;
  border-style: none;
  width: 100px;
  display: block;
  background-color: grey;
}
.side-btns:hover {
  color: white;
}

#title-sideBar {
  background: none;
}

.title-elements {
  color: black;
  font-size: 2em;
  font-family: 'Just Another Hand', cursive;
  margin: 10px;
  border-style: none;
  background: none;
  width: 100px;
  display: block;
}

.stopped {
  background-color: #2B712B;
  color: white;
}

.running {
  background-color: #921616;
  color: white;
}

.return {
  background-color: blueviolet;
  color: white;
}

.noreturn{
  background-color: gray;

#directionTitle {
  padding: 5px;
  font-size: 2em;
  text-align: center;
  font-family: 'Just Another Hand';
}

.nodirections{
  display: none;
}

.yesdirections{
  display: inherit;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
}